In [10]:
import pandas as pd

In [11]:
path = "Resources/purchase_data.csv"

In [12]:
purchase_data = pd.read_csv(path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",353.00%
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,156.00%
2,2,Ithergue48,24,Male,92,Final Critic,488.00%
3,3,Chamassasya86,24,Male,100,Blindscythe,327.00%
4,4,Iskosia90,23,Male,131,Fury,144.00%

In [13]:
total_players = len(purchase_data['SN'].unique())
total_players_df = pd.DataFrame({'Total Players': [total_players]})
total_players_df

   Total Players
0            576

In [14]:
unique_items = len(purchase_data['Item ID'].unique())
avg_price = purchase_data['Price'].mean().round(2)
purchases = purchase_data['Purchase ID'].nunique()
total_rev = purchase_data['Price'].sum()
purchasing_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                              'Average Price': [avg_price], 
                              'Number of Purchases': [purchases],
                              'Total Revenue':  [total_rev]
                             })
pd.options.display.float_format = '${:.2f}'.format
purchasing_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

In [15]:
gender = purchase_data[['SN', 'Gender', 'Age']]
gender_drop = gender.drop_duplicates(['SN'])
gender_totals = gender_drop['Gender'].value_counts()
percentage_of_players = gender_totals/total_players 

gender_demo_df = pd.DataFrame({"Total Count": gender_totals,
                               "Percentage of Players": percentage_of_players})
pd.options.display.float_format = '{:,.2%}'.format

gender_demo_df

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%

In [50]:
gender_count = purchase_data.groupby(['Gender'])
gender_count.count().head()
purchase_count = gender_count['SN'].count()
avg_purchase_price = gender_count['Price'].mean()
total_purchase_val = gender_count['Price'].sum()
avg_price_per_gender = total_purchase_val / gender_totals

purchase_gender_summary = pd.DataFrame({"Purchase Count": purchase_count, 
                                        "Average Purchase price": avg_purchase_price,
                                        "Total Purchase Value": total_purchase_val,
                                        "Avg Total Purchase per Person": avg_price_per_gender})
pd.options.display.float_format = '${:.2f}'.format
purchase_gender_summary

,Purchase Count,Average Purchase price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56